.contact {
    margin-top: 96px;
    margin-bottom: 96px;
}

.contact__title {
    font-weight: 600;
    margin-bottom: 75px;
    font-size: 24px;
    color: #474747;
}
.contact__form {
    display: flex;
    flex-flow: row wrap;
}
.contact__name {
    width: 100%;
}
.contact__email {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    .contact__name {
        width: 50%;
        padding-right: 25px;
    }
    .contact__email {
        width: 50%;
    }
}

.contact__message {
    width: 100%;
}
textarea {
    overflow: auto;
}
.contact__form input {
    width: 100%;
    height: 53px;
    border: none;
    background: #eff3f7;
    font-size: 14px;
    font-family: inherit;
    padding: 0 30px;
    margin-bottom: 25px;
}
input::placeholder,
textarea::placeholder {
    font-style: italic;
}
.contact__form textarea {
    font-family: inherit;
    resize: vertical;
    width: 100%;
    height: 232px;
    border: none;
    background: #eff3f7;
    font-size: 14px;
    padding: 30px;
    margin-bottom: 25px;
}
textarea:focus,
input:focus {
    border-color: teal;
    font-style: normal;
    outline: none;
}
.contact__button {
    min-width: 160px;
    text-align: center;
    border: none;
    padding: 18px 5px;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    background: #ff2a6b;
}

.contact__address {
    padding-left: 30px;
    padding-top: 50px;
}
@media only screen and (min-width: 992px) {
    .contact__address {
        padding-top: 0;
        padding-left: 0px;
    }
    .contact__info {
        padding-left: 90px;
    }
}
.contact__logo {
    margin-bottom: 40px;
}
.contact__list {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 25px;
}
.contact__list > li {
    margin-right: 35px;
}
.contact__list h5 {
    display: inline-block;
    color: #ff2a6b;
    padding-bottom: 1px;
    border-bottom: 1px solid #ff2a6b;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
}
.contact__list p {
    font-weight: 500;
    color: #474747;
    font-size: 14.1px;
    line-height: 2.1;
}
ul.contact__social {
    display: flex;
    flex-flow: row wrap;
    padding-top: 30px;
}
ul.contact__social > li {
    margin-right: 30px;
}
ul.contact__social > li > a {
    color: #474747;
}
